numpy==1.15.3
Flask_Login==0.4.1
Flask_Migrate==2.3.0
Flask==1.0.2
passlib==1.7.1
WTForms==2.1
fbprophet==0.3.post2
fix_yahoo_finance==0.0.22
Flask_WTF==0.14.2
pandas==0.23.4
Werkzeug==0.14.1
Flask_SQLAlchemy==2.3.2
Flask_Bootstrap==3.3.7.1
waitress
gunicorn
psycopg2
scikit-learn