{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p class="lead">This application is built on the Python Flask framework and is focused to implement fbprophet for stock market forecasting.</p>
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg">Register</a>
      <a href="{{ url_for('auth.login') }}" class="btn btn-success btn-lg">Login</a>
    {% else %}
    <a href="{{ url_for('home.analyzeManually') }}" class="btn btn-primary btn-lg">Analyze CSV Manually</a>
    <a href="{{ url_for('home.analyzeFromYahoo') }}" class="btn btn-primary btn-lg">Predict Yahoo Finance</a>
    {% endif %}
<!--
    <div class="row">
        <div class="col-md-7">
          <img alt="Prophet" title="Prophet" width="80" height="80"src="{{ url_for('static', filename='img/prophet.svg') }}" />
        </div>
        <div class="col-md-3">
          <img alt="Python" title="Python" src="{{ url_for('static', filename='img/python.png') }}" />
        </div>
      </div>
-->
  </div>
  
  
{% endblock %}