{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p class="lead">This application is built on Flask, a python microframework and is focused to implement fbprophet for stock data forecasting and good intentions.</p>
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('auth.signup') }}" class="btn btn-primary btn-lg">Sign Up</a>
      <a href="{{ url_for('auth.signin') }}" class="btn btn-success btn-lg">Sign In</a>
    {% else %}
    <a href="{{ url_for('main.analyzeManually') }}" class="btn btn-primary btn-lg">Forecast from your own csv</a>
    <a href="{{ url_for('main.analyzeFromYahoo') }}" class="btn btn-primary btn-lg">Forecast Yahoo Finance</a>
    {% endif %}
<!--
    <div class="row">
        <div class="col-md-7">
          <img alt="Prophet" title="Prophet" width="80" height="80"src="{{ url_for('static', filename='img/prophet.svg') }}" />
        </div>
        <div class="col-md-3">
          <img alt="Python" title="Python" src="{{ url_for('static', filename='img/python.png') }}" />
        </div>
      </div>
-->
  </div>
  
  
{% endblock %}